body  
{  
   
    /* background-color:#2e4775;   */
    font-family: 'Arial'; 
    background-image: url('https://64.media.tumblr.com/fc0d870590601619ef3382ea7963ca10/e4d17f5ca7d8c3c6-f9/s540x810/5dbfeb8d34c96384bbe780108d581ce2f3d0940b.gifv'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: contain;
    max-width: 100%;
    height: auto;
    
}
.logo img{
    position:absolute;
    top: 0;
    left: 0;
    height: 55%;
    width: 30%;
}

form{
    height: 500px;
    width: 400px;
    background-color: #ffffff21;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    border: 2px solid #ffffff1a;
    box-shadow: 0 0 40px #16133099;
    padding: 50px 35px;
}

form *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}


label{
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    height: 45px;
    width: 75%;
   
}

input{
    display: block;
    height: 45px;
    width: 90%;
    background-color: #0a223fb0;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
    text-align: center;
 
}
.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #0e4468; 
    color: white;
  }

footer{

  font-size: 20px;
  margin-left: 10px;
  padding: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#f5f5f5, #f7e707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
